@media (max-width: 1000px) {
    .hero {
        text-align: center;
        display: block;
    }
}

@media (max-width: 782px) {
    .footer-content,
    .footer-left,
    .footer-left h3, .footer-right p {
        display: block;
        text-align: center;
    }
    .social {
        margin: 15px;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 100%;
        padding: 0;
    }

    header {
        display: block;
        justify-content: space-between;
    }

    .header-title {
        display: flex;
        color: white;
        justify-content: center;
    }

    nav {
        background-color: #4a6785;
        width: 100%;
        text-align: center;
    }

    #navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .hamburger-menu {
        display: flex;
        margin: 37.5px;
    }

    #navbar.show {
        display: flex;
    }

    nav a {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .header-title h1 {
        text-align: left;
    }

    nav a {
        font-size: 16px;
        padding: 6px;
    }
}

@media (min-width: 768px) {
    .join-main {
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
    }

    .join {
        flex: 1;
        max-width: 50%;
    }

    .join-confirm {
        flex: 1;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .card {
        animation-delay: calc(var(--index) * 0.2s);
    }
}