@media (min-width: 768px) {
    .hero-content h2 {
        font-size: 4rem;
    }

    .hero-content p {
        font-size: 2rem;
    }

    .cta-button {
        font-size: 1.5rem;
    }

    .story-container {
        flex-direction: row;
    }
}