* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1400px;
    margin: auto;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #336342ec;
    color: white;
    padding: 20px;
    height: 80px;
    position: relative;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-left .logo {
    width: 70px;
    height: auto;
}

.header-left h1 {
    font-size: 2rem;
    color: #ffffff;
    margin: 0;
}

.header-left p {
    font-size: 1.2rem;
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #000000;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu .bar {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.location {
    padding: 40px 20px;
    text-align: center;
}

.location-info {
    margin-bottom: 20px;
}

.location-info p {
    font-size: 1.1rem;
    margin: 10px 0;
}

.map {
    margin: 20px 0;
}

.map iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hours h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hours p {
    font-size: 1.1rem;
    margin: 5px 0;
}

/* Footer Styles */
footer {
    padding: 20px;
    background-color: #336342ec;
    color: white;
}

.footer-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.footer-left h3 {
    text-align: left;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
}

footer a img {
    width: 30px;
    height: auto;
    margin: 10px;
}

footer a img:hover {
    transform: scale(1.1);
}

.footer-right p {
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav {
        display: none;
    }

    #navbar.show {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #336342ec;
        padding: 20px;
        position: absolute;
        top: 80px;
        right: 20px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
}