/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 1400px;
    margin: auto;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11270b;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    color: #598b2c;
}

header p {
    font-size: 1.2rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

nav a:hover {
    color: #598b2c;
}

/* Menu Section */
.menu {
    padding: 40px 20px;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.menu-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.menu-card:hover {
    transform: rotateY(180deg);
}

.menu-card-front, .menu-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.menu-card-front {
    background-color: #598b2c;
    color: white;
}

.menu-card-back {
    background-color: #11270b;
    color: white;
    transform: rotateY(180deg);
}

.menu-card img {
    width: 100%;
    border-radius: 10px;
}

.menu-card h3 {
    margin: 15px 0 10px;
}

.menu-card p {
    font-size: 1.1rem;
}

.menu-card-back ul {
    list-style: none;
    text-align: left;
}

.menu-card-back ul li {
    margin: 5px 0;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    padding: 20px;
    background-color: #336342ec;
    color: white;
}

.footer-content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.footer-left h3 {
    text-align: left;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
}

footer a img {
    width: 30px;
    height: auto;
    margin: 10px;
}

footer a img:hover {
    transform: scale(1.1)
}

.footer-right p {
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.logo {
    width: 50px;
    height: auto;
    margin: 20px;
}
